@tailwind base;
@tailwind components;
@tailwind utilities;

.font-source-code-pro {
  font-family: 'Source Code Pro', monospace;
}

.tmux-element {
  @apply cursor-pointer;
}

.tmux-element.active, .tmux-element:hover {
  box-shadow: 0 0 2px red;
}

.clock-number {
  display: grid;
  grid-template-columns: repeat(5, 1ch);
  grid-template-rows: repeat(5, 1em);
}

.button {
  @apply font-bold bg-slate-100 rounded-lg text-slate-600 shadow shadow-slate-300 px-4 py-2;
  @apply hover:bg-slate-200 hover:text-slate-900
}

.input {
  @apply border rounded-lg border-slate-400 p-1;
}

.color-preview {
  @apply w-9 h-9 rounded-full shadow border border-slate-300 cursor-pointer;
}
